<%= form_for Task.new do |form| %>
  <div class="row">
    <div class="form-group col-md-4">
      <%= form.text_field :description, class: 'form-control', placeholder: 'Add new tasks here' %>
      <%= form.submit 'Add task', class: 'btn btn-primary', style: 'margin-top: 5px' %>
    </div>
  </div>
<% end %>